<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/style.css" rel="stylesheet">
    
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js"></script> -->
        <!-- Favicon -->
        <link rel="icon" href="/public/assets/favicon.webp" type="image/x-icon">
        <!-- Page Title -->
        <title>Security Control Simulation System</title>
    </head>

<body>
    <!-- Navigation Bar -->
    <nav class="custom-navbar">
        <div class="navbar-logo">
            <a>SCSS</a>
        </div>

    </nav>
    <section class="info">
        <h1>Debrief</h1>
        <h2><underline>Investigating the Influence of Authorship of Advice on Decision-Making </underline></h2>
        <p><bold>Thank you for taking part in this study.</bold></p>
        <p>All of the information collected today will be stored anonymously and will not be able to be traced back to you. Your data will be stored on secure password-protected Cardiff University computers.  Your data may be retained indefinitely, and the results of this research project will be written up and maybe published.  Cardiff University is the Data Controller and is committed to respecting and protecting your data in accordance with your expectations and Data Protection legislation. Further information about Data Protection may be found at https://www.cardiff.ac.uk/public-information/policies-and-procedures/data-protection.</p>
        <p>If you are unhappy with your results being used for the purpose of the study you have the right to withdraw your data, at this time but once your results are anonymised this will no longer be an option.</p>
        <p>The aim of this experiment was to examine how the perceived source of advice influences decision-making processes, cognitive load, and trust when performing cybersecurity-relevant data classification tasks. At the start of the experiment, you were randomly assigned to one of three conditions (no advisor, AI advisor, or human advisor), we were interested in testing if participants' preference and trust in the advice source follows any hierarchy and if that in turn had an impact on your cognitive load.</p>
        <p>This research has important implications for understanding human-AI interaction and can inform the design of advisory systems across various domains like cybersecurity and decision support systems.</p>
        <p>We ask that you please maintain confidentiality about the shared purpose of this experiment, as any pre-knowledge of our study’s purpose could bias the data for future participants and would therefore create un-valid data samples.</p>
        <p>If you wish to find out more about the task you was asked to complete today please refer to Hodgetts et al. (2015).</p>
        <p>However, if you would like to ask more questions or have any concerns, please reach out to myself at Mordecai Otter Otterm@cardiff.ac.uk, or my project supervisors: </p>
        <p>Prof. Phillip Morgan 		morganphil@cardiff.ac.uk</p>
        <p>Prof. Rob Honey 		        honey@cardiff.ac.uk</p>
        <p>or the School of Psychology Research Ethics committee (psychethics@cardiff.ac.uk).</p>
        <p>Bibliography:</p>
        <p>Hodgetts, H.M., Tremblay, S., Vallières, B.R., & Vachon, F. (2015). Decision support and vulnerability to interruption in a dynamic multitasking environment. Int. J. Hum. Comput. Stud., 79, 106-117.</p>
        <section class="d-flex flex-column align-items-center mt-2">
            <p class="fw-bold fs-4">By clicking the button below you have finished the experiment.</p>
            <form action="" method="POST">
                <button type="submit">Finish Experiment</button>
            </form>
        </section>
    </section>

</body>

</html>