<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/style.css" rel="stylesheet">
    
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js"></script> -->
        <!-- Favicon -->
        <link rel="icon" href="/public/assets/favicon.webp" type="image/x-icon">
        <!-- Page Title -->
        <title>Security Control Simulation System</title>
    </head>
<body>
    <!-- Navigation Bar -->
    <nav class="custom-navbar">
        <div class="navbar-logo">
            <a>SCSS</a>
        </div>

    </nav>
    <div class="info">
        <h1>Participant Information Sheet</h1>
        <p>You are being invited to take part in a research project. Before you decide whether or not to take part, it is important for you to understand why the research is being undertaken and what it will involve. Please take time to read the following information carefully and discuss it with others, if you wish.</p>
        <p>Thank you for reading this.</p>
        <h2>1. What is the purpose of this research project?</h2>
        <p>This research project aims to improve understanding of how information gathering can impact decision-making processes, cognitive load, and trust when performing data classification tasks relevant to cybersecurity scenarios.</p>
        <h2>2. Why have I been invited to take part?</h2>
        <p>You have been invited because you are a volunteer who fits the task requirements.</p>
        <h2>3. Do I have to take part?</h2>
        <p>No, your participation is entirely voluntary. If you decide to take part, we will ask you to sign a consent form, but you are free to withdraw at any time without giving a reason. Your decision will not affect your legal rights or relationship with Cardiff University.</p>
        <p>You are free to withdraw your consent to participate in the research project at any time, without giving a reason, even after signing the consent form.</p>
        <h2>4. What will taking part involve?</h2>
        <p>Please note that taking part requires active use of a webcam</p>
        <p>The research project will take place either at university or at a location of your choosing. We kindly ask that you select a quiet, distraction-free environment to ensure accurate results. You will be asked to perform a cybersecurity data classification task which will involve reviewing incoming data points and categorising them as "Trusted," "Suspect," or "Hostile" based on provided rules whilst your gaze is being recorded. </p>
        <p>After the task, you will complete a question about your perceived accuracy, and provide feedback on the study itself, the entire study should take around an hour.</p>
        <h2>5. Will I be paid for taking part?</h2>
        <p>No, however, if you are on EMS you will be provided with the appropriate course credits. </p>
        <h2>6. What are the possible benefits of taking part?</h2>
        <p>There will be no direct advantages or benefits to you from taking part, but your contribution will help us understand the impact that various strategies of information gathering can have on decision making.</p>
        <h2>7. What are the possible risks of taking part?</h2>
        <p>There are no significant risks anticipated from participating in this study.</p>
        <h2>8. Will my taking part in this research project be kept confidential?</h2>
        <p>All information collected from (or about) you during the research project will be kept anonymous and managed in accordance with data protection legislation. Please see ‘What will happen to my Personal Data?’ (below) for further information.  </p>
        <p>The eye tracking data will be purely numerical only consisting of your randomised ID, the X/Y coordinates on the screen and a timestamp. At no point will any images be captured or stored.</p>
        <h2>9. What will happen to my Personal Data? </h2>
        <p>Cardiff University is the Data Controller and is committed to respecting and protecting your data in accordance with your expectations and Data Protection legislation. Further information about Data Protection, including:</p>
        <ul>
            <li>your rights</li>
            <li>the legal basis under which Cardiff University processes your personal data for research</li>
            <li>Cardiff University’s Data Protection Policy </li>
            <li>how to contact the Cardiff University Data Protection Officer</li>
            <li>how to contact the Information Commissioner’s Office</li>
        </ul>
        <p>may be found at https://www.cardiff.ac.uk/public-information/policies-and-procedures/data-protection</p>
        <p>By the end of the next working day after you provide information, the research team will anonymise all the personal data it has collected, with the exception of your consent form. Your consent form will be retained for five years and may be accessed by members of the research team and, where necessary, by members of the University’s governance and audit teams or by regulatory authorities. Anonymised information will be kept for a minimum of five years but may be published in support of the research project and/or retained indefinitely, where it is likely to have continuing value for research purposes.</p>
        <p>Please note that at this point all data identifiers will be irreversibly removed and once anonymised to withdraw any data as we cannot identify to whom it belongs.</p>
        <h2>10. What happens to the data at the end of the research project?</h2>
        <p>All information collected during the course of the research will be kept strictly confidential. There are strict laws that guard your privacy at every stage and in accordance with GDPR and the Data Protection Act, we will keep all data about you secure and confidential.</p>
        <p>If at a later date this study is published all personal or identifying information will be removed before sharing takes place.</p>
        <h2>11.	What will happen to the results of the research project?</h2>
        <p>It is our intention to use this research as the basis of a PhD Thesis, and potentially present the findings at conferences and in scientific papers. Participants will not be identified in any report, publication or presentation. </p>
        <p>Your anonymised data will be stored in a data repository as part of Cardiff University’s commitment to Open Science.</p>
        <h2>12.	What if there is a problem?</h2>
        <p>If you wish to complain or have grounds for concerns about any aspect of the manner in which you have been approached or treated during the course of this research, please contact either </p>
        <p>Professor Phil Morgan - morganphil@cardiff.ac.uk </p>
        <p>Or</p>
        <p>Professor Rob Honey - honey@cardiff.ac.uk</p>
        <p>or the School of Psychology Research Ethics Committee, Cardiff University at the address below.  If your complaint is not managed to your satisfaction, please contact the Information Commissioner’s Office should you wish to complain, can be found at the following: </p>
        <p>https://www.cardiff.ac.uk/public-information/policies-and-procedures/data-protection. </p>
        <p>If you are harmed by taking part in this research project, there are no special compensation arrangements.  If you are harmed due to someone's negligence, you may have grounds for legal action, but you may have to pay for it.  </p>
        <h2>13.	Who is organising this research project?</h2>
        <p>The research is organised by Mordecai Otter and Professor Phil Morgan / Professor Rob Honey.</p>
        <h2>14.	Who has reviewed this research project?</h2>
        <p>This research project has been reviewed and given a favourable opinion by the School of Psychology Research Ethics Committee, Cardiff University.</p>
        <p>If you wish to contact them directly their details are Tel: 029 2087 0707	or Email: psychethics@cardiff.ac.uk.</p>
        <h2>15.	Further information and contact details</h2>
        <p>Should you have any questions relating to this research project, you may contact us during normal working hours: </p>
        <p>Mordecai Otter otterm@cardiff.ac.uk or Prof. Phil Morgan morganphil@cardiff.ac.uk or Professor Rob Honey - honey@cardiff.ac.uk</p>
        <p><bold>Thank you for considering taking part in this research project. If you wish to recieve a hard copy of any of the information provided during this research project please contact Mordecai directly.</bold></p>
        <button class="btn" id="proceedToConsent">Continue</button>
    </div>
</body>
<script>
    document.getElementById('proceedToConsent').addEventListener("click", () => {
        window.location.href = '/information/consent';
    })
</script>
</html>